PORT=5001
HOST=0.0.0.0
# Set to "transformers" for HuggingFace models (more accurate, needs GPU ideally)
# Set to "sklearn" for lightweight TF-IDF models (fast, works on any CPU)
AI_MODE=sklearn
# If sklearn models not found, auto-train on startup
AUTO_TRAIN=true
